In [10]:
#importing libraries for numpy, plot and pandas

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn. model_selection import KFold
from sklearn. model_selection import cross_val_score 

import warnings
warnings.filterwarnings('ignore')

In [11]:
#import data from .csv file
weather = pd.DataFrame(pd.read_csv("Weather Dataset.csv"))
weather.head()

,lat,lon,time,omega_x,omega_y,omega,pr_wtr,rhum_x,rhum_y,rhum,...,tmp_x,tmp_y,tmp,uwnd_x,uwnd_y,uwnd,vwnd_x,vwnd_y,vwnd,rain
0,30.0,70.0,1/1/2015,0.14300,0.10950,0.12600,5.60,1.75,0.75,40.75,...,296.8,282.67500,296.725,4.350000,1.275001,-2.599999,-6.600,-3.925,-3.200000,-9999.0
1,30.0,70.0,1/2/2015,0.02925,0.02450,0.06525,8.40,20.50,19.00,34.50,...,296.8,284.15000,296.700,12.125002,5.850001,-1.749999,-5.075,-3.975,-2.200000,-9999.0
2,30.0,70.0,1/3/2015,0.18125,0.16325,0.10375,11.35,29.50,46.50,41.00,...,296.8,284.67500,296.600,26.575000,10.875000,0.775001,-13.925,-5.725,-0.874999,-9999.0
3,30.0,70.0,1/4/2015,0.12350,0.07725,-0.09000,12.40,36.50,38.75,40.50,...,296.8,285.15002,296.550,35.949997,18.375000,1.325000,-20.400,-6.050,2.925002,-9999.0
4,30.0,70.0,1/5/2015,-0.04575,0.04225,0.01700,11.25,20.75,22.25,38.75,...,296.8,285.75000,296.500,40.700000,17.400002,3.175001,-7.900,-6.550,1.575000,-9999.0

In [12]:
num_vars = ['lat', 'lon','omega_x', 'omega_y', 'omega', 'pr_wtr', 'rhum_x','rhum_y', 'rhum', 'slp', 'tmp_x', 'tmp_y', 'tmp','uwnd_x', 'uwnd_y', 'uwnd', 'vwnd_x', 'vwnd_y', 'vwnd','rain']
data = weather[num_vars]
data

,lat,lon,omega_x,omega_y,omega,pr_wtr,rhum_x,rhum_y,rhum,slp,tmp_x,tmp_y,tmp,uwnd_x,uwnd_y,uwnd,vwnd_x,vwnd_y,vwnd,rain
0,30.0,70.0,0.14300,0.10950,0.12600,5.600000,1.75,0.75,40.75,101852.5,296.8,282.67500,296.72500,4.350000,1.275001,-2.599999,-6.600,-3.925000,-3.200000,-9999.0
1,30.0,70.0,0.02925,0.02450,0.06525,8.400000,20.50,19.00,34.50,101785.0,296.8,284.15000,296.70000,12.125002,5.850001,-1.749999,-5.075,-3.975000,-2.200000,-9999.0
2,30.0,70.0,0.18125,0.16325,0.10375,11.350000,29.50,46.50,41.00,101700.0,296.8,284.67500,296.60000,26.575000,10.875000,0.775001,-13.925,-5.725000,-0.874999,-9999.0
3,30.0,70.0,0.12350,0.07725,-0.09000,12.400000,36.50,38.75,40.50,101795.0,296.8,285.15002,296.55000,35.949997,18.375000,1.325000,-20.400,-6.050000,2.925002,-9999.0
4,30.0,70.0,-0.04575,0.04225,0.01700,11.250000,20.75,22.25,38.75,101620.0,296.8,285.75000,296.50000,40.700000,17.400002,3.175001,-7.900,-6.550000,1.575000,-9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17897,25.0,77.5,0.07425,0.02250,0.06975,12.425000,28.50,5.75,39.00,101535.0,295.9,291.82500,296.70000,12.975000,1.125001,-3.899998,1.900,-0.899999,-0.699999,0.0
17898,25.0,77.5,-0.05550,-0.00150,0.03375,16.825000,60.50,8.25,54.25,101640.0,295.9,292.12500,296.70000,18.400002,3.850000,-2.249999,7.375,-0.425000,-0.224998,0.0
17899,25.0,77.5,0.18150,0.11825,0.09275,17.575000,12.75,16.25,60.25,101725.0,295.9,292.42500,296.67502,20.525002,5.350001,-1.225000,-2.800,-2.950000,-2.574999,0.0
17900,25.0,77.5,0.07350,0.09025,0.09800,15.424999,14.50,12.00,49.00,101642.5,295.9,292.00000,296.60000,24.275003,10.950001,-0.474999,-1.750,-5.150000,-3.199999,0.0
17901,25.0,77.5,0.05725,0.07875,0.07000,10.700000,6.00,3.00,39.25,101422.5,295.9,290.85000,296.60000,17.200000,8.525002,2.050000,-2.050,-4.800000,-3.124999,0.0

In [13]:
X = data.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]].values
Y = data.iloc[:, 19].values
#X
Y = Y.astype(int)

In [14]:
Y[0:10]

array([-9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999,
       -9999])

In [15]:
#scaling the input data using standardiztion

from sklearn.preprocessing import StandardScaler
stdScale_X = StandardScaler()
X = stdScale_X.fit_transform(X)

In [16]:
# K-fold cross-validation for your training and validation
# defining the value of K = 3

kfold = KFold(n_splits=3,random_state=0,shuffle=True)
model = LogisticRegression(solver='liblinear')
results = cross_val_score(model,X,Y,cv=kfold)
print("Accuracy: %f" % (results.mean()))

Accuracy: 0.905653

In [17]:
# K-fold cross-validation for your training and validation
# defining the value of K = 4

kfold = KFold(n_splits=4,random_state=0,shuffle=True)
model = LogisticRegression(solver='liblinear')
results = cross_val_score(model,X,Y,cv=kfold)
print("Accuracy: %f" % (results.mean()))

Accuracy: 0.906100

In [18]:
# K-fold cross-validation for your training and validation
# defining the value of K = 5

kfold = KFold(n_splits=5,random_state=0,shuffle=True)
model = LogisticRegression(solver='liblinear')
results = cross_val_score(model,X,Y,cv=kfold)
print("Accuracy: %f" % (results.mean()))

Accuracy: 0.906267

In [19]:
# K-fold cross-validation for your training and validation
# defining the value of K = 6

kfold = KFold(n_splits=6,random_state=0,shuffle=True)
model = LogisticRegression(solver='liblinear')
results = cross_val_score(model,X,Y,cv=kfold)
print("Accuracy: %f" % (results.mean()))

Accuracy: 0.906491

In [20]:
# K-fold cross-validation for your training and validation
# defining the value of K = 7

kfold = KFold(n_splits=7,random_state=0,shuffle=True)
model = LogisticRegression(solver='liblinear')
results = cross_val_score(model,X,Y,cv=kfold)
print("Accuracy: %f" % (results.mean()))

Accuracy: 0.906491

In [21]:
# K-fold cross-validation for your training and validation
# defining the value of K = 8

kfold = KFold(n_splits=8,random_state=0,shuffle=True)
model = LogisticRegression(solver='liblinear')
results = cross_val_score(model,X,Y,cv=kfold)
print("Accuracy: %f" % (results.mean()))

Accuracy: 0.906658

In [22]:
# K-fold cross-validation for your training and validation
# defining the value of K = 9

kfold = KFold(n_splits=9,random_state=0,shuffle=True)
model = LogisticRegression(solver='liblinear')
results = cross_val_score(model,X,Y,cv=kfold)
print("Accuracy: %f" % (results.mean()))

Accuracy: 0.906658

In [23]:
# K-fold cross-validation for your training and validation
# defining the value of K = 10

kfold = KFold(n_splits=10,random_state=0,shuffle=True)
model = LogisticRegression(solver='liblinear')
results = cross_val_score(model,X,Y,cv=kfold)
print("Accuracy: %f" % (results.mean()))

Accuracy: 0.906658